body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #0077b6;
  padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

nav ul li {
  margin: 0 10px;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #005691;
}

nav ul:not(:last-child) {
    border-right: 1px solid #ccc;
    padding-right: 10px;
  }
  
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0077b6;
  min-width: 120px;
}

nav ul li:hover .submenu {
  display: block;
}

.submenu li {
  margin: 0;
}

.submenu li a {
  padding: 10px;
}
