ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    text-align: center; /* Menengahkan menu */
  }
  
  li {
    display: inline-block; /* Mengatur menu menjadi horizontal */
    margin-right: 10px;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  /* BAGIAN BIODATA */
  header {
    text-align: center;
    background-color: black;
    padding: 20px;
    color: white;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
  }
  
  .profile {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .assignment {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }
  
  .assignment h2 {
    margin-bottom: 10px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .box {
    display: inline-block;
    padding: 0.5em 1em; /* Menggunakan padding untuk menyesuaikan ukuran box */
    background-color: black;
    color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue;
    margin: 10px;
    font-size: 16px; /* Contoh ukuran font, sesuaikan dengan kebutuhan Anda */
  }
  
  .box a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  
